<nz-steps [nzCurrent]="1">
    <nz-step nzTitle="Finished" nzDescription="This is a description.">

       
    </nz-step>
    <nz-step nzTitle="In Progress" nzSubtitle="Left 00:00:08" nzDescription="This is a description.">
      
    </nz-step>
    <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
  </nz-steps>

  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="email" type="email" id="email" />
      </nz-form-control>
    </nz-form-item>
  </form>