<div nz-row>
  <div nz-col [nzSpan]="6" [nzPush]="0">
    <!--nz-steps [nzCurrent]="current" nzDirection="horizontal" nzSize="small" #steps>
      <nz-step nzTitle="Deal Details"></nz-step>
      <nz-step nzTitle="Payment Details"></nz-step>
      <nz-step nzTitle="Recomended Configuration"></nz-step>
      <nz-step nzTitle="Configuration Details"></nz-step-->
    <!--/nz-steps-->
  </div>
  <div nz-col [nzSpan]="18" >
     <nz-steps [nzCurrent]="current" nzDirection="horizontal" nzSize="small" #steps>
      <nz-step nzTitle="Deal Details"></nz-step>
      <nz-step nzTitle="Payment Details"></nz-step>
      <nz-step nzTitle="Recomended Configuration"></nz-step>
      <!--nz-step nzTitle="Configuration Details"></nz-step-->
    </nz-steps>
      <div #stepContainer></div>
    
    <div class="steps-action">
      <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
        <span>Modify Plan</span>
      </button>
      <button nz-button nzType="default" (click)="next()" *ngIf="current == 1">
        <span>Skip Step</span>
      </button>
      <button nz-button nzType="default" (click)="next()" *ngIf="current < 1">
        <span>Generate Configuration Plan</span>
      </button>
      <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
        <span>Done</span>
      </button>
    </div>
  </div>
</div>

<!--nz-divider nzText="Store Data"></nz-divider-->
<nz-row>
  <div>Current data: {{ ((privateOffer$ | async) | json) }}</div>
</nz-row>