<nz-row nzGutter="32">
  <nz-col [nzSpan]="12">
    <nz-statistic [nzValue]=" (contractDetailForm.controls.contractAmount.value| number)!" [nzTitle]="'Offer Value'"></nz-statistic>
  </nz-col> <nz-col [nzSpan]="12">
    <nz-statistic [nzValue]="(contractDetailForm.controls.offerDuration.value| number)! +' mos.'" [nzTitle]="'Offer Duration'"></nz-statistic>
  </nz-col>
</nz-row>
<nz-row nzGutter="32">
  <form nz-form [nzLayout]="'inline'" [formGroup]="contractDetailForm" (ngSubmit)="submitForm()">
    <nz-row [nzGutter]="16"> 
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="dollar">
            <input id="contractAmount" formControlName="contractAmount" nz-input placeholder="Contract Amount" value="$0.00" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please select Contract Term!">
          <nz-input-group nzPrefixIcon="retweet">
            <nz-select formControlName="offerDuration" id="contractTerms" nzShowSearch nzAllowClear nzPlaceHolder="Select a Contract Terms" nzBorderless >
              <nz-option nzLabel="1 Year" nzValue="12"></nz-option>
              <nz-option nzLabel="2 Year" nzValue="24"></nz-option>
              <nz-option nzLabel="3 Year" nzValue="36"></nz-option>
              <nz-option nzLabel="Other" nzValue="37"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    
    </nz-row>

    <nz-row [nzGutter]="16">
      <nz-form-item>
        <nz-range-picker id="dateRange" formControlName="range" [nzRanges]="ranges" onchange="onChange($event)" ></nz-range-picker>

      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="fund">
            <input id="paymentAmount" formControlName="paymentAmount" nz-input placeholder="Payment Amount" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    
    </nz-row>
    <nz-row>
      <button nz-button nzType="primary">Calculate</button>

    </nz-row>
   
  </form>
</nz-row>
<nz-row>
  <nz-input-group [nzSuffix]="">
    <textarea rows="15" id="contractDetailsValue" formControlName="comment" nz-input [value]="(contractDetailForm.value | json)"></textarea>
  </nz-input-group>
</nz-row>
