<!--nz-row nzGutter="32">
  <nz-col [nzSpan]="12">
    <nz-statistic [nzValue]=" (contractDetailForm.controls.contractAmount.value| number)!" [nzTitle]="'Offer Value'"></nz-statistic>
  </nz-col> <nz-col [nzSpan]="12">
    <nz-statistic [nzValue]="(contractDetailForm.controls.offerDuration.value| number)! +' mos.'" [nzTitle]="'Offer Duration'"></nz-statistic>
  </nz-col>
</nz-row-->
<nz-row>
  <article nz-typography>
    <h1 nz-typography>Private Offer Configuration Plan</h1>
    <p nz-typography>
      Private offer prescriptive configuration guidance based on your deal contract requirents
    </p>
  </article>
</nz-row>
<form nz-form [formGroup]="contractDetailForm" (ngSubmit)="submitForm()"
  (valueChanges)="onChange($event)">
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">Contract Total</div></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">Number of Payments</div></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">Payment Frequency</div></div>
    <!--div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">First Invoice</div></div-->
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"><nz-form-item>
      <nz-form-control nzErrorTip="Please input your Contract Amount!">
        <nz-input-group nzPrefixIcon="dollar">
          <input id="contractAmount" formControlName="contractAmount" nz-input placeholder="Contract Amount"
            value="$0.00" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item></div></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"><nz-form-item>
      <nz-form-control nzErrorTip="Please input your Number of Payments!" (nzOpenChange)="onChange($event)">
        <nz-input-group nzPrefixIcon="number" >
          <input id="numberOfPayments" formControlName="numberOfPayments" (onChange)="onChange($event)"  nz-input placeholder="Number Of Payments"
            value="1" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item></div></div>
    <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">  <nz-form-item>
      <nz-form-control nzErrorTip="Please select Payment Frequency">
        <nz-input-group nzPrefixIcon="retweet">
          <nz-select formControlName="paymentFrequency" id="paymentFrequency" (nzOpenChange)="onChange($event)"
            nzPlaceHolder="Select a Contract Terms" nzBorderless>
            <nz-option nzLabel="Select Payment Frequency" nzValue="0"></nz-option>
            <nz-option nzLabel="One Time" nzValue="One Time"></nz-option>
            <nz-option nzLabel="Monthly" nzValue="Monthly"></nz-option>
            <nz-option nzLabel="Yearly" nzValue="Yearly"></nz-option>
            <nz-option nzLabel="Other" nzValue="Other"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item></div></div>
    <!--div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"><nz-form-item>
      <nz-form-control nzErrorTip="First Invoice">
        <nz-input-group nzPrefixIcon="retweet">
          <nz-select formControlName="firstInvoice" id="firstInvoice" (nzOpenChange)="onChange($event)"
            nzPlaceHolder="Select First Invoice" nzBorderless>
            <nz-option nzLabel="Select First Invoice" nzValue="0"></nz-option>
            <nz-option nzLabel="Upon Purchase" nzValue="uponPurchase"></nz-option>
            <nz-option nzLabel="Delayed" nzValue="delayed"></nz-option>
            <nz-option nzLabel="Monthly" nzValue="month"></nz-option>
            <nz-option nzLabel="Yearly" nzValue="year"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item></div></div-->
  </div>
  <nz-row >

    
    
      <!--nz-form-item>
        <nz-form-control nzErrorTip="Please select Contract Term!">
          <nz-input-group nzPrefixIcon="retweet">
            <nz-select formControlName="offerDuration" id="contractTerms" (nzOpenChange)="onChange($event)"  nzPlaceHolder="Select a Contract Terms" nzBorderless >
              <nz-option nzLabel="Select Offer Duration" nzValue="0"></nz-option>
              <nz-option nzLabel="1 Year" nzValue="12"></nz-option>
              <nz-option nzLabel="2 Year" nzValue="24"></nz-option>
              <nz-option nzLabel="3 Year" nzValue="36"></nz-option>
              <nz-option nzLabel="Other" nzValue="37"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item-->

    


    <!--nz-row [nzGutter]="16">
      <nz-form-item>
        <nz-range-picker id="dateRange" formControlName="range" [nzRanges]="ranges" onchange="onChange($event)" ></nz-range-picker>
      </nz-form-item>
      <nz-row-->
      
    </nz-row>
    <nz-row>
      <div nz-row [nzGutter]="16">
        <nz-col><label nz-checkbox formControlName="is_equal_payments" id="is_equal_payments" >All Payment Amounts are Equal</label></nz-col>
        <nz-col>{{ checked}}</nz-col>
        <nz-col></nz-col>
      </div>
    </nz-row>
    <nz-row>
      <div nz-row [nzGutter]="16">
        <nz-col><label nz-checkbox  formControlName="is_invoice_upon_purchase" id="is_invoice_upon_purchase" >Invoice Upon Purchase</label></nz-col>
        <nz-col></nz-col>
        <nz-col></nz-col>
      </div>
    </nz-row>
    <nz-row [nzGutter]="16">
      <button nz-button nzType="primary">Clear Plan</button>
    </nz-row>



  <nz-row>
  <!--nz-input-group [nzSuffix]="">
    <textarea rows="15" id="contractDetailsValue"  nz-input [value]="(contractDetailForm.value | json)"></textarea>
  </nz-input-group-->
</nz-row>
</form>

<!--nz-row>
<button (click)="increment()">Increment</button>

<div>Current Count:* {{ count$ | async }}*</div>

<button (click)="decrement()">Decrement</button>

<button (click)="reset()">Reset Counter</button>
</nz-row-->