<!--div class="send-request">
    <button
      nz-button
      nzType="primary"
      [disabled]="setOfCheckedId.size === 0"
      [nzLoading]="loading"
      (click)="sendRequest()"
    >
      Send Request
    </button>
    <span>Selected {{ setOfCheckedId.size }} items</span>
  </div>
  <nz-table
    #rowSelectionTable
    nzShowPagination
    nzShowSizeChanger
    [nzData]="listOfData"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
  >
    <thead>
      <tr>
        <th
          [nzChecked]="checked"
          [nzIndeterminate]="indeterminate"
          nzLabel="Select all"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Accepted</th>
        <th>Last Modified</th>
        <th>Private Offer Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td
          [nzChecked]="setOfCheckedId.has(data.id)"
          [nzDisabled]="data.disabled"
          [nzLabel]="data.name"
          (nzCheckedChange)="onItemChecked(data.id, $event)"
        ></td>
        <td>{{ data.name }}</td>
        <td>{{ data.start | date: 'mm-yyyy' }}</td>
        <td>{{ data.end | date: 'mm-yyyy' }}</td>
        <td>{{ data.accepted }}</td>
        <td>{{ data.modified  | date: 'mm-yyyy'}}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.action }}</td>

      </tr>
    </tbody>
  </nz-table-->